version: "3.8"

services:
  backend:
    image: ghcr.io/hanhcpp04/currency-backend:latest
    container_name: currency-backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    image: ghcr.io/hanhcpp04/currency-frontend:latest
    container_name: currency-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
